@import play.api.libs.json.Json

@(repo: Repository)

<div class="list-group-item hub-repo" id="repo-@repo.getId()">

    <div class="row hub-repo-summary">
        <div class="col-md-4">
            <h4 class="list-group-item-heading">@repo.getRepository()</h4>
            <p class="list-group-item-text"><strong>Lead: </strong>@repo.getLead()</p>
        </div>
        <div class="col-md-2"><span class="badge">@repo.getState()</span>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getCommits()</strong>
            </p>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getPullRequests()</strong>
            </p>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getContributors()</strong>
            </p>
        </div>
    </div>
    <div class="row hub-repo-detail" id="repodetail-@repo.getId()" style="display: none">
        <div class="col-md-4">
            <div id="languages-@repo.getId()" class="languageGraph metastats"></div>
        </div>
        <div class="col-md-8 hub-repo-readme">
            @Html(repo.getReadme())
        </div>
    </div>
    <div class="row"></div>
</div>

<script type="text/javascript">
$(function() {
	$("#repo-@repo.getId()").click(function() {
		$("#repodetail-@repo.getId()").slideToggle();
	});
	
	var languages = {
			@for(entry <- repo.getLanguages().entrySet()) {
				"@Html(entry.getKey())" : @entry.getValue(),
			}
	};
	
	languageGraph($("#languages-@repo.getId()"), languages);
});
</script>