@(repo: Repository)

<div class="list-group-item hub-repo" id="repo@repo.id">

    <div class="row hub-repo-summary">
        <div class="col-md-4">
            <h4 class="list-group-item-heading">@repo.getRepository()</h4>
            <p class="list-group-item-text"><strong>Lead: </strong>@repo.getLead()</p>
        </div>
        <div class="col-md-2"><span class="badge">@repo.getState()</span>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getCommits()</strong>
            </p>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getPullRequests()</strong>
            </p>
        </div>
        <div class="col-md-2">
            <p><strong>@repo.getContributors()</strong>
            </p>
        </div>
    </div>
    <div class="row hub-repo-detail">
        <div class="col-md-4">
            <img src="@routes.Assets.at("images/donut-chart.png")" class="img-responsive" />
            <img src="@routes.Assets.at("images/bar-chart.png")" class="img-responsive" />
            <img src="@routes.Assets.at("images/weekly-chart.png")" class="img-responsive" />
        </div>
        <div class="col-md-8 hub-repo-readme">
            @Html(repo.getReadme())
        </div>
    </div>
    <div class="row"></div>
</div>
